body {
  background-color: #0cbfe9;
  color: #1b1b1b;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

img {
  width: 100%;
  height: auto;
}
