@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Playfair+Display:ital,wght@0,400;1,600&display=swap');

html {
	background: #edefd0 url("https://images.assetsdelivery.com/compings_v2/jumbi/jumbi1502/jumbi150200002.jpg") top left repeat;
}

body {
	margin: auto;
	max-width: 70%;
	font-family: 'Playfair Display', serif;
	font-size: 0.875em;
	padding: 0 2vw 5vh;
	box-sizing: border-box;
	background-color: white;
}

p {
	text-align: justify;
}

a {
	word-wrap: break-word;
  text-decoration: none;
}


.section_title {
	font-family: 'EB Garamond', serif;
	font-size: 2.5em;
	font-weight: 700;
	text-transform: capìtalize;
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  border-radius: 0.2em;
  padding: 1vw;
}

.need {
	margin: 3vw;
	overflow: auto;
}

.to_top {
  margin: auto;
  padding-top: 1vw;
  text-align: center;
}

.to_top a {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-right: 0.3em solid black;
    border-top: 0.3em solid black;
    transform: rotate(-45deg);
}

.need_title.main {
	display: none;
}
.need_value.main {
	font-family: 'Playfair Display', serif;
	font-size: 1.75em;
	font-weight: 600;
	text-transform: capitalize;
	font-style: italic;
}

iframe, img {
	margin: auto;
	display: block;
	max-width: 100%;
	height: auto;
}

#top {
	background-color: #333;
	color: transparent;
	overflow: hidden;
  margin: auto;
  text-align: center;
}

#top a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

#top a:hover {
	background-color: #111;
}

hr {
	border: 0;
	height: 3px;
	background: black;
	background-image: linear-gradient(to right, #ccc, black, #ccc);
}

@media screen and (max-width: 550px) {
	#top a {
		float: none;
	}
}
